.fondo {
  justify-content: space-evenly;
  margin: 0px 50px;
}
.title {
  padding: 50px;
  text-align: center;
  color: black;
  font-family: "Amatic SC", cursive;

  //font-family: "Skranji", cursive;
  //font-family: 'Roboto Flex', sans-serif;
  h1 {
    font-size: 5em;
    font-weight: bold;
  }
}
.card {
  width: 30%;
  margin: 10px;
  padding: 0;
  background-color: whitesmoke;
  color: black;
  border-radius: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.4s ease-out;
  position: relative;
  &:hover {
    transform: translateY(20px);
  }
  &::before {
    opacity: 1;
  }
  img {
    border-radius: 60px 60px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  p {
    font-family: "Poppins", sans-serif;
    text-align: justify;
    padding: 10px 0 10px 20px;
  }
  h4 {
    font-family: "Amatic SC", cursive;
    color: #1e3ba6;
    font-size: 3em;
    padding: 10px 0 10px 20px;
    font-weight: bold;
  }
  h5 {
    font-family: "Amatic SC", cursive;
    color: #1e3ba6;
    padding: 10px 0 10px 20px;
  }
  .subtitle {
    font-weight: bolder;
    font-size: 1.5em;
    font-family: "Amatic SC", cursive;
  }
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #d3d3d3;
  padding: 2px 0px 0px 30px;
}
.full {
  color: #1e3ba6;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #1e3ba6;
}
.card-footer {
  background-color: whitesmoke;
  border-radius: 40px;
  margin-left: 25px;
  margin-right: 25px;
  border: none;
  border-top: 5px solid #c9d6ff;

  .icons {
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    padding: 0px 0px 20px 0px;
    i {
      color: #1e3ba6;
      font-size: 1.5em;
      &:hover {
        color: #041551;
        font-size: 1.7em;
      }
    }
  }
}
.information {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

pagination-controls {
  text-align: center;
  padding: 30px;
  font-size: 1.2em;

  h2 {
    border: 1px solid black;
    padding: 10px;
    font-family: "Roboto Flex", sans-serif;
    font-size: 2em;
  }
}
@media (max-width: 992px) {
  .card {
    width: 50%;
  }
}
